/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.nav_left{
		display: none;
	}
	.section_1 .col-md-9 {
		width: 100%;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 995px) {
	.butt_right ul li {
		line-height: 162%;
		display: block;
		width: 100%;
	}
	.butt_right ul {
		padding-left: 0;
	}
	.butt_r_.sett.b_re ul {
		background-size: 16%;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 770px) {
	header{
		text-align: center;
	}
	footer{
		text-align: center;
	}
	.butt_r_ ul {
		margin-left: 0px;
	}
	footer .butt_logo {
		float: none;
	}
	footer .butt_logo {
		float: none;
		display: inline-block;
		margin-right: 0px;
		margin-bottom: 12px;
	}
	footer h1 {
		font-size: 40px;
	}
	footer img {
		width: 5%;
		margin-right: 2px;
	}
	footer .butt_logo p {
		font-size: 21px;
	}
	footer .butt_p p {
		float: none;
		font-size: 13px;
		margin-top: 0;
	}
}
/* Small Devices, Tablets */
@media only screen and (max-width : 1200px) {
	
}
/* Small Devices, Tablets */
@media only screen and (max-width : 580px) {
	header .nav_top .wrap_search_form {
		position: relative;
		z-index: 1;
		margin-top: 5px;
	}
	header .nav_top ul {
		list-style-type: none;
		padding-left: 0;
		margin-top: 0px;
		margin-bottom: 0;
	}
	header .nav_top {
		float: none;
		display: inline-block;
		margin-right: 0px;
		margin-bottom: 12px;
	}
	header .top_logo {
		float: none;
	}
	header .butt_p {
		float: none;
	}
	header h1 {
		font-size: 40px;
	}
	header img {
		width: 5%;
		margin-right: 2px;
	}
	header .top_logo p {
		font-size: 21px;
	}
	.section_1 .nav_right ul li {
		display: inline-block;
		padding-right: 0px;
		padding-left: 0px;
		margin-left: 0px;
		margin-right: 12px;
	}
	.section_1 .nav_right ul li a {
		color: #000;
		font-size: 15px;
	}
	.butt_right.bu_r .opis h3 {
		margin-top: 0;
	}
	.butt_right ul {
		list-style-type: none;
		padding-left: 0;
	}
	.butt_r_ ul p {
		background-color: #fff;
		width: 70%;
	}
	.butt_r_ ul h3 {
		background-color: #fff;
	}
	.butt_r_.sett.b_sr ul {
		background-size: 22%;
	}
	.butt_r_.sett.b_sr ul {
		background-size: 22%;
	}
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 550px) {
	.butt_r_.sett.b_sr ul {
		background-size: 52%;
	}
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 450px) {
	.section_1 .nav_right {
		border-bottom: 2px solid #000;
		background-image: none;
	}	
	.butt_r_ form {
		margin-top: 45px;
	}
	.butt_r_.sett.b_re ul {
		background-position: bottom;
	}
	.butt_r_ form {
		margin-top: 0px;
	}
	.butt_r_ ul {
		padding-left: 16px;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 420px) {
	.butt_right ul li {
		font-size: 10px;
	}
	.section_1 .bloc_2 {
		padding-left: 100px;
	}
	.section_1 .butt_right ul li img {
		width: 87px;
		height: 129px;
	}
	.butt_right ul li {
		line-height: 145%;
	}
	.section_1 .bu_r .bloc_2 {
		padding-left: 105px;
	}
	.section_1 .bloc_2.b_1 {
		padding-left: 155px;
	}
	.nav_t_r ul li h3 {
		background-color: #fff;
		padding: 5px;
		border-radius: 3px;
	}
}
/* Custom, iPhone Retina */
@media only screen and (max-width : 420px) {
	.butt_r_ form textarea {
		width: 140%;
	}
	.butt_r_ form input,
	.butt_r_ form h3 {
		width: 100%;
	}
	.butt_r_.sett ul li .butt {
		width: 30%;
	}
	.butt_r_ .but_t {
		width: inherit;
	}
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}